.mat-slider-horizontal {
    height: 3em;
    width: 50%;
    margin-left: 25%;
}

.perso{
    margin-left: 24%;
}
.sbt{
    margin-left: 13.6%
}
.sodi{
    margin-left: 12%;
}
.global{
    margin-left: 12%;
}
