<div id="headerCV" class="ecritureBlanche">
    <h2>Stéphane BOIVIN</h2>
    <div class="separationHorizontal"></div>
    <h3>CV Développeur web full-stack</h3>
</div>

<div id="contenuCV">
    <!-- a propos -->
    <div id="apropos">
        <div class="avatar"></div>
        <div>
            Suite à la découverte des language C et surtout java lors de ma formation Cnam. Je suis devenus developpeur.
            Dans un premier temps en php / javascript, aujourd'hui java / angular.
            J'aime le fait d'avoir encore beaucoup a découvrir dans ces technologies et aussi de temps en temps en tester
            de nouvelles car elles me permettent de progresser (drupal 8, moodle, nodeJS, docker, camel).
            J'ai un profil fullstack même si je préfère m'amuser coté front... un peu trop parfois...
        </div>
    </div>

    <!-- competences -->
    <div id="competences">
        <h3>Compétences</h3>
        <div class="cards">
            <!-- card back -->
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title><span class="material-icons">dns</span></mat-card-title>
                    <mat-card-subtitle>Back</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <ul>
                        <li class="perso sodi all">PHP</li>
                        <li class="perso all">MySQL</li>
                        <li class="all">NodeJS</li>
                        <li class="sbt all">Java (Jee) / Spring / Hibernate</li>
                        <li class="sbt all">MongoDB</li>
                        <li class="all">POO, MVC</li>
                    </ul>
                </mat-card-content>
            </mat-card>
            
            <!-- card front -->
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title><span class="material-icons">web</span></mat-card-title>
                    <mat-card-subtitle>Front</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <ul>
                        <li class="all">Html5 / CSS3</li>
                        <li class="sodi all">javascript</li>
                        <li class="perso sodi all">JQuery</li>
                        <li class="perso sodi all">AngularJS</li>
                        <li class="sbt all">Angular</li>
                    </ul>
                </mat-card-content>
            </mat-card>

            <!-- card logiciel -->
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title><span class="material-icons">laptop_chromebook</span></mat-card-title>
                    <mat-card-subtitle>Logiciels</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <ul>
                        <li class="all">Notepad++</li>
                        <li class="perso sodi all">PHPStorm</li>
                        <li class="sodi all">Atom</li>
                        <li class="sbt all">VS Code</li>
                        <li class="perso sbt all">Eclipse</li>
                        <li class="perso sodi all">WAMP</li>
                        <li class="all">MySQL Workbench / phpMyAdmin</li>
                    </ul>
                </mat-card-content>
            </mat-card>

        </div>

        <a href="#" *ngIf="imagePerso">
            <div class="img imgPerso"></div>
        </a>
        <a href="https://www.sbt-human.com/"  *ngIf="imageSbt" target="_blank">
            <div class="img imgSBT"></div>
        </a>
        <a href="https://www.sodifrance.fr/"  *ngIf="imageSodifrance" target="_blank">
            <div class="img imgSodifrance"></div>
        </a>
        <a href="#" *ngIf="imageGlobal">
            <div class="img imgGlobal"></div>
        </a>

        <!-- slider SBT/Sodifrance -->
        <div class="buttonArea">
            <button appCvDirective mat-raised-button color="primary" 
                (click)="gestionImagesCompetences('imagePerso')">Perso</button>
            <button appCvDirective mat-raised-button color="primary" 
                (click)="gestionImagesCompetences('imageSbt')">SBT</button>
            <button appCvDirective mat-raised-button color="primary" 
                (click)="gestionImagesCompetences('imageSodifrance')">Sodifrance</button>
            <button appCvDirective mat-raised-button color="primary" 
                (click)="gestionImagesCompetences('imageGlobal')">Global</button>
        </div>
    </div>

    <!-- experiences -->
    <div id="experiences">
        <!-- mat-tabs => informatique/nettoyage/industrie -->
        <h3>Experiences professionnelles</h3>
        <mat-tab-group #tabs>
            <mat-tab label="Informatique">
                <div>
                    <p>Sodifrance - Lyon de 2018 à aujourd'hui</p>
                    <div>
                        <p>depuis juillet 2019</p>
                        <p>Portail web e-commerce à destination des fournisseurs et installateurs de cuisines professionnelles</p>
                        <p>Java, angular 5/9, spring, active MQ, camel</p>
                        <ul>
                            <li>Développement full stack de webservices REST en java (spring, hibernate) et de pages angular dans un environnement dockerisé</li>
                            <li>Prise en compte de l'architecture, de messages JMS (Active MQ), du routing Camel</li>
                        </ul>
                    </div>
                    <div>
                        <p>janvier 2019 - juin 2019</p>
                        <p>Santeffi - Portail médical</p>
                        <p>Drupal 8.0, jquery, html5, css3</p>
                        <ul>
                            <li>Développement de pages en suivant les templates produit</li>
                            <li>Développement de pages spécifiques</li>
                            <li>Configuration et déploiement du moteur drupal</li>
                        </ul>
                    </div>
                    <div>
                        <p>Mai 2018 - décembre 2018</p>
                        <p>TNT - Gestion des workflows</p>
                        <p>Java, VDoc</p>
                        <ul>
                            <li>Gestion de l'outil VDoc pour la création et la maintenance de workflow</li>
                            <li>Automatisation de la mise à jour des bases de données depsui des fichiers Excel</li>
                            <li>Traitement batch ayant pour entrées et sorties plusieurs fichiers Excel</li>
                        </ul>
                    </div>
                </div>
                <div>
                    <p>SBT - Lyon de 2014 à 2018</p>
                    <div>
                        <p>Plateforme de gestion, Serious games, plateforme moodle</p>
                        <p>PHP, javascript, html5, css3, MySQL</p>
                        <ul>
                            <li>
                                Développement d'une plateforme PHP, MySQL et javascript pour 
                                aider un client à créer des questionnaires d'évaluations et 
                                à optimiser l'organisation de ces magasins
                            </li>
                            <li>
                                Création d'une plateforme de jeux en angularJS / MongoDB pour 
                                des journées de formations chez plusieurs clients
                            </li>
                            <li>Débogages et création de serious games en html et javascript</li>
                        </ul>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Nettoyage">
                <div>
                    <div>2007 à 2012</div>
                    <div>MultiService 69 - Lyon</div>
                    <p>Agent de service, apprenti puis responsable de secteur au sein d'une entreprise de nettoyage et de service associés</p>
                </div>
            </mat-tab>
            <mat-tab label="Industrie">
                <div>2004 à 2005</div>
                <div>Fulmen - Auxerre</div>
                <p>Assembleur et contrôleur qualité de bateries de voitures et camions</p>
            </mat-tab>
        </mat-tab-group>
    </div>

    <!-- diplomes -->
    <div id="diplomes">
        <h3>Formation et Diplômes</h3>
        <div>
            <span><b>2018</b> - Formation Ingénieur Jee GMT à Lyon</span>
        </div>
        <div>
            <span><b>2014</b> - Diplome de concepteur développeur en informatique (niveau 2, équivalent Master 1) à Lyon</span>
        </div>
        <div>
            <span><b>2013</b> - Début d'une licence générale en informatique au Cnam Lyon</span>
        </div>
        <div>
            <span><b>2009</b> - BTS en Hygiène, Propreté et Environement à Lyon</span>
        </div>
        <div>
            <span><b>2004</b> - Niveau BTS en Maintenance Industrielle à Auxerre</span>
        </div>
        <div>
            <span><b>2002</b> - Bac STI Génie Mécanique option productique à Auxerre</span>
        </div>
    </div>

    <!-- interets -->
    <div id="interets">
        <h3>Centre d'interet</h3>
        <div>
            <div>Musique</div>
            <div>Sport</div>
            <div>Informatique</div>
        </div>
    </div>

    <!-- contacts -->
    <div id="contacts">
        <h3>Contacts</h3>
        <!-- email -->
        <!-- linkedin -->
    </div>

</div>
