#headerCV{
    background: rgb(94,9,121);
    background: radial-gradient(circle, rgba(94,9,121,1) 0%, rgba(94,9,121,1) 50%, rgba(94,9,121,0.5004202364539565) 100%);
    text-align: center;
    height: 9em;
    width: 100%;
    color: white;
    padding-top: 2em;
}

.separationHorizontal{
    width: 50%;
    height: 1px;
    background-color: white;
    margin-left: 25%;
}

/**/
#contenuCV{
    margin: 0 5%;
}

/**/
.avatar{
    background-image: url('../../../assets/images/avatar.png');
    height: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/**/
#apropos, #competences, #buttonArea,
#experiences,#diplomes, #interets,
#contacts{
    margin-top: 2em;
}

/* CARD */
#competences .card {
    min-width: 250px;
}
#competences mat-card-header {
    text-align: center;
    justify-content: center;
}
#competences li{
    text-align: center;
    list-style: none;
}
#competences ul {
    padding: 0;
    list-style-type: none;
}

/* zone button des cards */
.buttonArea{
    margin-top: 4em;
}
.buttonArea button{
    margin: 0 2em;
}
/* images logo */
#competences{
    position: relative;
}
#competences .img{
    position: absolute;
    width: 70px;
    height: 70px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}
a{
    position: relative;
}
.imgPerso{
    background-image: url('../../../assets/images/perso_logo.png');
}
.imgPosition{
    right: -35px;
}
.imgSBT{
    background-image: url('../../../assets/images/sbt_logo.png');
}
.imgSodifrance{
    background-image: url('../../../assets/images/sodirance_logo.png');
}
.imgGlobal{
    background-image: url('../../../assets/images/global.jpg');
}


/**/
.marge{
    margin-left: 3em;
}


/**/
.imgLogos{
    width: 50px;
    height: 50px;
}

/**/
#contacts{
    height: 15em;
}