/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background: black no-repeat center center fixed;
}

/* arrière plan et placement général */
.background{
    margin-top: -2em;
    margin-bottom: -2em;
}
.contenu{
    background-color: white;
    width: 70%;
    margin-left: 15%;
    height: 100%;
    /* position: absolute; */
}


/* couleur des elements */
.ecritureBlanche{
    color: white;
}